<div class="small-container single-product" >
    <h2>Products / {{product?.name}}</h2>
    <div class="row">
        <div class="col-2">
            <img src="assets/{{product?.img}}" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>Category / {{product?.dept}}</p>
            <h1>{{product?.name}}</h1>
            <h4>{{product?.price | currency}}</h4>
            <!-- <a class="btn" (click)="addToCart(uid, product.id)">Add To Cart</a> -->
            <a class="btn">Add To Cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product?.description}}</p>
        </div>
    </div>
</div>
