<!-- For the sake of this project, for the Featured Products, I did not query the information and load in here.  
     Although, if I do decide to change this, I will have to do a query that will limit to unique item names
     as the table is set up with the items being listed several times, but different id #'s for the different 
     sizes. -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href=""><img src="assets/images/product-1.jpg" alt=""></a>
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$35.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/product-2.jpg" alt="">
            <h4>Black Cross Trainer Sneakers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$95.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/product-3.jpg" alt="">
            <h4>Gray Athletic Pants</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$65.00</p>
        </div>
        <div class="col-4">
            <img src="assets/images/product-4.jpg" alt="">
            <h4>Blue Polo Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
</div>

