<!-- For the sake of this project, for the Featured Products, I did not query the information and load in here.  
     Although, if I do decide to change this, I will have to do a query that will limit to unique item names
     as the table is set up with the items being listed several times, but different id #'s for the different 
     sizes. -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4" *ngFor="let product of products; let indexOfProduct = index">
            <img src="assets/{{product.img}}" alt="">
            <h4>{{product.name}}</h4>
            <p>{{product.price | currency}}     <button class="btn" (click)="setProduct(indexOfProduct); goToSingleItem()">View</button></p>
        </div>
   
    </div>
</div>

