<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>

        <!-- 
            Currently, not a working feature. 
            Need to set up the abilities to sort by these different options. As onInit() queries for all the items from the database
            then some sort of filtering or pipeline should be use for these options
         -->
        <select name="" id="">
            <option value="">Default Sorting</option>
            <option value="">Sort by price</option>
            <option value="">Sort by popularity</option>
            <option value="">Sort by rating</option>
            <option value="">Sort by sale</option>
        </select>
    </div>
  
    <div class="row">
        <div class="col-4" *ngFor="let product of products; let indexOfProduct = index">
            <img src="assets/{{product.img}}" alt="">
            <h4>{{product.name}}</h4>
            <p>{{product.price | currency}}</p>
            <button class="btn" (click)="setProduct(indexOfProduct); goToSingleItem()">View</button>
        </div>  
    </div>
    
</div>
