<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div>
                    <img src="assets/images/image1.png">                                   
                </div>                                 
            </div>
            <div class="col-2">
                <!-- Login Form -->
                <div class="form-container">
                    <mat-card-content>
                        <mat-tab-group #tabGroup (selectedTabChange)="messageVisible = tabGroup.selectedIndex === 0; registerVisible = tabGroup.selectedIndex === 1">
                            <!-- Login card -->
                            <mat-tab label="Login"> 
            
                                <!-- Login Email -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email" name="email" required>
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                      Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                      Email is <strong>required</strong>
                                    </mat-error>
                                    <mat-icon matSuffix>email</mat-icon>
                                  </mat-form-field>
                                
                                  <!-- Login Password -->
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" minlength="4" name="password" [(ngModel)]="password" required [ngModelOptions]="{standalone: true}">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                  </mat-form-field>
                                  <br>
                                   <!-- Login Button -->
                                  <button class="mat-button" mat-raised-button color="primary" (click)="postLogin()" [disabled]="!emailFormControl.valid || password.length <=4">Log In</button>
                            </mat-tab>
            
                            <!-- Register card -->
                            <mat-tab label="Register"> 
            
                                  <!-- Register Email -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="Email" [formControl]="reg_emailFormControl" [(ngModel)]="reg_email" required>
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                      Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                      Email is <strong>required</strong>
                                    </mat-error>
                                    <mat-icon matSuffix>email</mat-icon>
                                  </mat-form-field>
                                
                                  <!-- Register Password -->
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" minlength="4" [(ngModel)]="reg_password" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                  </mat-form-field>
                                  <br>
                                  <!-- Register Button -->
                                  <button class="mat-button" mat-raised-button color="primary" (click)="postRegister()" [disabled]="!reg_emailFormControl.valid || reg_password.length <=4">Register</button>
                                </mat-tab>
                        </mat-tab-group>
                          
            
                          <!-- Forgot password for Login -->
                          <div *ngIf="messageVisible" [matTooltip]="emailFormControl.valid ? '' : 'Please enter a valid email address.'" [matTooltipDisabled]="emailFormControl.valid">
                            <button class="forgot" mat-flat-button [disabled]="!emailFormControl.valid" (click)="postPassword()">Forgot password?</button>
                          </div>  
                    </mat-card-content>
                </div>
            </div>
        </div>
    </div>
</div>
 

