<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>The vibrant red printed t-shirt was a stylish and comfortable gift for my brother, adding a much needed pop of color to his wardrobe.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/images/user-1.png">
                <h3>Susan Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>The gray high top sneakers provide the perfect blend of style and performance, making them an the choice for a day on the court.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/images/user-2.png">
                <h3>Alex Johnson</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>The sleek black watch I bought for my husband exudes timeless elegance and has become his new favorite accessory.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <img src="assets/images/user-3.png">
                <h3>Gail Mathews</h3>
            </div>
        </div>
    </div>
</div>

